<div class="space-y-4 flex flex-col items-center">
  <div class="flex items-center gap-6">
    <!-- Obecny avatar -->
    <div class="flex flex-col items-center gap-1.5">
      <p class="text-xs font-bold text-neutral-400">Obecny:</p>
      <app-user-avatar [user]="user()" size="2xl" shape="rounded" />
    </div>

    @if (hasPreview()) {
      <!-- Strzałka -->
      <div class="mt-5">
        <app-icon name="arrow-right" size="md" color="neutral" />
      </div>

      <!-- Podgląd nowego avatara -->
      <div class="flex flex-col items-center gap-1.5">
        <p class="text-xs font-bold text-neutral-400">Nowy:</p>
        <app-user-avatar [user]="previewUser()" size="2xl" shape="rounded" />
      </div>
    }
  </div>

  <app-button appearance="outline" color="primary" (clicked)="generateNew()" size="xs">
    <app-icon name="refresh-cw" size="sm" />Generuj inny</app-button
  >
</div>
