@let _isLoading = loading();

<button
  [type]="type()"
  [disabled]="disabled() || _isLoading"
  [ngClass]="classes()"
  [attr.aria-label]="ariaLabel() || null"
  (click)="clicked.emit($event)"
>
  @let _iconSize = iconSizeValue();
  @let _showLeft = showLeftIcon();
  @let _showRight = showRightIcon();
  @let _iconLeftBg = iconLeftBackground();
  @let _iconRightBg = iconRightBackground();
  @let _iconLeftColorClass = iconLeftColorClass();
  @let _iconRightBgClass = iconRightBackgroundClass();
  @let _iconRightColorClass = iconRightColorClass();

  @if (_isLoading) {
    <app-icon name="loader" [size]="_iconSize" class="animate-spin" />
  } @else {
    @if (_showLeft) {
      @if (_iconLeftBg) {
        <div
          class="flex h-9 w-9 shrink-0 items-center justify-center rounded-full"
          [ngClass]="iconLeftBackgroundClass()"
        >
          <app-icon [name]="iconLeft()!" [size]="_iconSize" [class]="_iconLeftColorClass" />
        </div>
      } @else {
        <app-icon [name]="iconLeft()!" [size]="_iconSize" [class]="_iconLeftColorClass" />
      }
    }

    <ng-content />

    @if (_showRight) {
      @if (_iconRightBg) {
        <div
          class="ml-auto flex h-9 w-9 shrink-0 items-center justify-center rounded-full"
          [ngClass]="_iconRightBgClass"
        >
          <app-icon [name]="iconRight()!" [size]="_iconSize" [class]="_iconRightColorClass" />
        </div>
      } @else {
        <app-icon [name]="iconRight()!" [size]="_iconSize" [class]="_iconRightColorClass + ' ml-auto'" />
      }
    }
  }
</button>
