@let e = event();
@let _ageRange = ageRange();
@let _roles = roles();
@let _participants = participantsLabel();
@let _gender = genderLabel();

<div class="mt-1">
  <div class="overflow-hidden">
    <div class="space-y-2">
      <!-- Terminarz -->
      <div class="space-y-2">
        <div class="flex gap-4">
          <div class="flex-shrink-0 py-1">
            <span class="flex h-8 w-8 shrink-0 items-center justify-center rounded-lg bg-neutral-100">
              <app-icon name="clock" color="neutral" size="sm" />
            </span>
          </div>
          <div class="flex-1 min-w-0">
            <div class="flex flex-wrap gap-x-4 gap-x-8">
              <app-event-info-item
                label="Rozpczęcie"
                [value]="(e.startsAt | date: 'EEEE' | titlecase) + ' godz. ' + (e.startsAt | date: 'HH:mm')"
              />

              <app-event-info-item
                label="Zakończenie"
                [value]="(e.endsAt | date: 'EEEE' | titlecase) + ' godz. ' + (e.endsAt | date: 'HH:mm')"
              />

              <app-event-info-item label="Czas trwania" [value]="e.startsAt | eventDuration: e.endsAt" />
            </div>
          </div>
        </div>
      </div>

      <!-- Lokalizacja -->
      <div class="space-y-2">
        <div class="flex gap-4">
          <div class="flex-shrink-0 py-1">
            <span class="flex h-8 w-8 shrink-0 items-center justify-center rounded-lg bg-neutral-100">
              <app-icon name="map-pin" color="neutral" size="sm" />
            </span>
          </div>
          <div class="flex-1 min-w-0">
            <div class="flex flex-wrap gap-x-4 gap-x-8">
              <app-event-info-item label="Adres" [value]="e.address" />
              <app-event-info-item label="Miasto" [value]="cityName()" />
            </div>
          </div>
        </div>
      </div>

      <!-- Szczególy wydarzenia -->
      <div class="space-y-2">
        <div class="flex gap-4">
          <div class="flex-shrink-0 py-1">
            <span class="flex h-8 w-8 shrink-0 items-center justify-center rounded-lg bg-neutral-100">
              <app-icon name="flag" color="neutral" size="sm" />
            </span>
          </div>
          <div class="flex-1 min-w-0">
            <div class="flex flex-wrap gap-x-4 gap-x-8">
              <app-event-info-item label="Dyscyplina" [value]="'dict.discipline.' + e.disciplineSlug | transloco" />
              <app-event-info-item label="Poziom" [value]="'dict.level.' + e.levelSlug | transloco" />
              <app-event-info-item label="Obiekt" [value]="'dict.facility.' + e.facilitySlug | transloco" />
              <app-event-info-item label="Koszt" [value]="costLabel()" [highlight]="true" />
            </div>
          </div>
        </div>
      </div>

      <!-- Uczestnictwo -->
      @if (_participants || _ageRange || _gender || _roles) {
        <div class="space-y-2">
          <div class="flex gap-4">
            <div class="flex-shrink-0 py-1">
              <span class="flex h-8 w-8 shrink-0 items-center justify-center rounded-lg bg-neutral-100">
                <app-icon name="users" color="neutral" size="sm" />
              </span>
            </div>
            <div class="flex-1 min-w-0">
              <div class="flex flex-wrap gap-x-4 gap-x-8">
                <app-event-info-item label="Limit miejsc" [value]="_participants" />

                <app-event-info-item label="Wiek" [value]="_ageRange" />

                @if (_gender) {
                  <app-event-info-item label="Płeć" [value]="_gender" />
                }

                @if (_roles) {
                  <app-event-info-item label="Dosępne role">
                    <div class="flex flex-wrap gap-1">
                      @for (role of _roles; track role.key) {
                        <span
                          class="inline-flex items-center gap-0.5 rounded-full px-1.5 py-0.5 text-[11px]"
                          [ngClass]="
                            role.isDefault ? 'bg-primary-100 text-primary-700' : 'bg-neutral-100 text-neutral-600'
                          "
                        >
                          {{ 'dict.participant-role.' + role.key + '.title' | transloco }}
                          <span class="text-[9px] opacity-60">({{ role.slots }})</span>
                        </span>
                      }
                    </div>
                  </app-event-info-item>
                }
              </div>
            </div>
          </div>
        </div>
      }

      <!-- Widoczność -->
      <!-- <div class="space-y-2">
        <div class="flex items-center gap-1.5 text-xs font-semibold text-neutral-500 uppercase tracking-wider">
          <app-icon name="settings" color="neutral" size="sm" />
          Ustawienia
        </div>
        <div class="flex flex-wrap items-start gap-x-4 gap-x-8">
          <app-event-info-item label="Widoczność" [value]="e.visibility === 'PRIVATE' ? 'Prywatne' : 'Publiczne'" />
        </div>
      </div> -->
    </div>
  </div>
</div>
